#board { 
    padding-top: 3em;
    text-align: center
  }

.row > div { 
    float: left;
    height: 100px;
    width: 100px;
}

.row {
    clear: both;
    margin: 0 auto;
    width: 302px;
    cursor: pointer;  
}

.top-left {
    border-bottom: 1px black solid;
    border-right: 1px black solid;  
}

.top-middle {
    border-bottom: 1px black solid;
}

.top-right {
    border-bottom: 1px black solid;
    border-left: 1px black solid; 
}

.center-left {
    border-right: 1px black solid;
}

.center-right {
    border-left: 1px black solid;
}

.bottom-left {
    border-top: 1px black solid;
    border-right: 1px black solid;
}

.bottom-middle {
    border-top: 1px black solid;
}

.bottom-right {
    border-top: 1px black solid;
    border-left: 1px black solid;
}